# JetBrains IDEs' config & project settings directory
**/.idea/

# direnv's directory
/.direnv/

# NPM
**/node_modules/

# Compiled plugin
main.js

# Source maps
*.map

# Obsidian
data.json
